<!DOCTYPE html>
<html>
  <head>
    <title>ReactApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <nav>
      Navigation
      <% if middleman_signed_in? %>
        <%= button_to 'Log out', destroy_middleman_session_path, method: :delete %>
      <% end %>
      <% if librarian_signed_in? %>
        <%= button_to 'Log out', destroy_librarian_session_path, method: :delete %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>